<% layout('./layouts/boilerplate')%>
<div class="row">
  <div class="col-6 offset-3">
    <div class="alert alert-danger text-center" role="alert">
      <h4 class="alert-heading"><%=err.message%></h4>
      <p><%= err.stack %></p>
    </div>
    <div class="mb-3">
      <img
        src="/error-img.jpg"
        alt="error"
        style="width: 50%; height: 50%; display: block; margin: 0 auto"
      />
    </div>
    <div class="text-center mt-5">
      <a href="/" class="btn btn-secondary text-dark">Back To Home</a>
    </div>
  </div>
</div>
