<%layout('./layouts/boilerplate')%>
<div class="container d-flex justify-content-center align-items-center">
  <div class="text-center">
    <h1 class="display-3">PicUpload</h1>
    <p>Safe and Secure Place to upload your images</p>
    <a href="/register" class="btn" style="background-color: #e3f2fd"
      >Start Uploading</a
    >
  </div>
</div>
